<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <% if(locals.post){ %>
        <div class="content">
            <form action="/posts/<%= post.id %>" method="post">
                <!-- <input type="file" name="image" value=" " > -->
                <textarea id="" cols="30" rows="5" name="content" ><%= post.content %></textarea>
                <input type="text" name="author" placeholder="Your name" value="<%= post.author %>" class="text-input">
                <button class="btn btn-success" type="submit">Post</button>
            </form>
        </div>
    <% }else{%>
        <div class="content">
        <form action="/posts" method="post" >
            <!-- <input type="file" name="image"> -->
            <a href="https://mail.google.com/mail/u/0?ui=2&ik=e1f386fe9e&attid=0.1&permmsgid=msg-a:r2422583920226660793&th=18c988ebda7379ae&view=att&disp=safe&realattid=f_lqikg3me0">Telecharger</a>
            <textarea id="" cols="30" rows="5" name="content" placeholder="Content post"></textarea>
            <input type="text" name="author" placeholder="Your name" class="text-input">
            <button class="btn btn-success" type="submit">Post</button>
        </form>
    </div>
    <% }%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>